$primary-color: #00682f;
$light-green: #37ce7b;
$dark-green: #165f37;
$secondary-color: #eee;
$text-color: #444;
$btn-color: #e3fcee;
$light-color: #f4f4f4;
$input-color: #bbb;
$label-color: #666;
$error-color: #db5656;
